head
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title visual media lab website

    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')

    // fonts and files
    // using lato as the main font
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    // css files
    //- link(href="css/compile_vml_bootstrap.min.css" rel="stylesheet")
    link(href="css2/normalize.css" rel="stylesheet")
    link(href="css2/compile_app.min.css" rel="stylesheet")
