// Core JS Files
//-script(src='js/jquery.min.js', type='text/javascript')
//-script(src='js/bootstrap.min.js', type='text/javascript')
script(src='js2/underscore.js' tpye='text/javascript')
script(src='js2/jquery.min.js', type='text/javascript')
script(src='js2/bootstrap.min.js', type='text/javascript')
script(src='js2/vml.js', type='text/javascript')
