$navbar_height: 6rem;

$primary_orange: #F05A29;
$primary_yellow: #FAAF40;
$primary_dark_grey: #262626;
$primary_grey: #646367;
$primary_light_grey: #E9E5DE;
$primary_white: #F7F7ED;


// this is custom scss file

body,
html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

}

.main {
    margin-top: 6rem;
}


.navbar {
    padding-bottom: 0;
    padding-top: 0;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(55,58,60,0.3);
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: $navbar_height;

    img {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    ul.navbar-nav {
        flex-grow: 1;
    }

    .form {
        flex-grow: 0;
    }

    .nav-link {
        padding: 0 1.5rem;
    }
}
