
// import the variables :)
@import 'parts/variables';
@import 'parts/footer';

// this is custom scss file

body,
html {
    // fonts decided from the clients. Lato. Currently using light regular bold
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

.main {
    // this margin is for the fixed navbar height margin. (6rem of nav)
    margin-top: 6rem;
    // .main also has .row, so we do not need to specifiy this
    // but to clarify,
    display: flex;
}

// This is the part where beside functional aspects, the major contents ALL go in
.content {
    // the content is able to grow
    flex-grow: 1;
    // fixing the horiziontal scroll issue
    margin-left:0;
    margin-right:0;
    padding: 0;
    // need some margin between content and the footer
    margin-bottom: 6rem;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
    background-color: white;

    display: flex;
    align-items: center;
    height: $navbar_height;

    border-bottom: 1px solid #ccc;

    img {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    ul.navbar-nav {
        flex-grow: 1;
    }

    .form {
        flex-grow: 0;
    }

    .nav-link {
        padding: 0 1.5rem;
    }
}
