//out:archive_download.min.css
@import 'base';
@import 'parts/breadcrumb';
@import 'parts/sidebar';

.year {
    border-top: 1px solid #ccc;
    padding: 2rem 3rem 3rem;
    flex-flow:column;
    .year-title {
        color: $primary_grey;
        margin-bottom: 3rem;
    }
}
.download-box {
    display:flex;
    margin-bottom: 3rem;

    .download-img {
        min-width: 240px;
        width: 240px;
        height: 160px;
        background-color: black;
    }
    .download-desc {
        margin: 0 2rem 0 2rem;
        color: $primary_grey;
        h5, h3 {
            color: $primary_dark_grey;
        }
        .download-text {
            margin-bottom: 1rem;
        }
    }
    .download-type {
        min-width: 240px;
        width: 240px;
        p {
            margin-bottom: 0.5rem;
        }
    }

}


@media (max-width: 991px) {
    .download-box {
        flex-flow:column;
        .download-desc {
            margin: 2rem 0 2rem 0;
        }
    }
    .download-img {
        width:100% !important;
    }


}
@media (max-width: 575px) {
}
