//out:index.min.css
@import 'base';
@import 'parts/nav';
@import 'parts/footer';

////////////// TEST ///////////////////
.main .col-xs {
    padding:0;
}

.menu_btn {
    display: none;
}

.header {
    position: relative;
    background:
        linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url(/img/Home_MainPic_resize.jpg);
    background-size: cover;
    background-position: 50% center;

    // for this page to be 'scroll-available'
    height: 100vh;

    .title {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:white;
        text-align: center;

        h1 {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold;
        }
        h4 {
            margin-top:1rem;
            margin-bottom: 2.5rem;
        }
    }
}
@media (max-width: 991px) {
    .title p {
        display: none;
    }

}
.researchArea {
    .Heading {
        text-align: center;
        padding: 4rem 0 4rem 0;
        h1 {
            font-size: 3rem;
            font-weight: bold;
        }
    }

    .card-deck-wrapper {
        .card-deck {
            justify-content: center;
            .card {
                max-width: 350px;
            }
        }
    }
}
.news {
    max-width: 1050px;
    margin: auto;

    .Heading {
        text-align: center;
        padding: 4rem 0 4rem 0;
        h1 {
            font-size: 3rem;
            font-weight: bold;
        }
    }
    .card-columns {
        .card {
            max-width: 350px;
            img.sel-img {
                // -webkit-animation: sel-img-animation 0.3s 1;
                filter: brightness(30%);
            }
        }
    }
}
