html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; }
    body .main {
        display: flex;
        flex: 1; }
        body .main .sidebar {
            flex: 0 0 16rem; }
        body .main .flex-content {
            flex-grow: 1;
            display: flex; }

.main {
    margin-top: 6rem; }

.content {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 6rem; }

.footer {
    display: flex;
    padding: 3rem 5rem 3rem 5rem;
    background-color: #262626;
    color: #F7F7ED; }
    .footer .footer-brand ul {
        list-style: none;
        padding-left: 0;
        font-size: 0.8rem;
        font-weight: lighter; }
    .footer .footer-brand .footer-brand-img {
        width: 200px; }
    .footer .sitemap .col-xs {
        padding: 0 1.5rem 0 1.5rem; }
    .footer .sitemap ul {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        list-style: none; }
        .footer .sitemap ul a {
            color: #F7F7ED;
            line-height: 1.8; }
    .footer .footer-partner {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        padding: 3rem 0 3rem 0; }
        .footer .footer-partner .footer-partner-img {
            width: 100px; }
    @media (max-width: 575px) {
        .footer .footer-brand {
            order: 1; }
        .footer .footer-partner {
            order: -1; } }
    .footer .rights {
        padding-top: 1rem; }
        .footer .rights .rights-text {
            text-align: center;
            font-size: 0.7rem; }

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    padding-bottom: 0;
    padding-top: 0;
    height: 6rem;
    background-color: white;
    border-bottom: 1px solid #ccc; }
    .navbar img {
        margin-right: 1rem;
        margin-left: 1rem; }
    .navbar ul.navbar-nav {
        flex-grow: 1; }
    .navbar .form {
        flex-grow: 0; }
    .navbar .nav-link {
        padding: 0 1.5rem; }

@media (max-width: 544px) {
    .navbar-nav {
        display: none; } }

.indexPage-nav {
    display: none; }

.header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/Home_MainPic_resize.jpg);
    background-size: cover;
    background-position: 50% center;
    height: 100vh; }
    .header .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center; }
        .header .title h1 {
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: bold; }
        .header .title h4 {
            margin-top: 1rem;
            margin-bottom: 2.5rem; }

@media (max-width: 991px) {
    .title p {
        display: none; } }

.researchArea .Heading {
    text-align: center;
    padding: 4rem 0 4rem 0; }
    .researchArea .Heading h1 {
        font-size: 3rem;
        font-weight: bold; }

.researchArea .card-deck-wrapper .card-deck {
    justify-content: center; }
    .researchArea .card-deck-wrapper .card-deck .card {
        max-width: 350px; }

.news {
    max-width: 1050px;
    margin: auto; }
    .news .Heading {
        text-align: center;
        padding: 4rem 0 4rem 0; }
        .news .Heading h1 {
            font-size: 3rem;
            font-weight: bold; }
    .news .card-columns .card {
        max-width: 350px; }
        .news .card-columns .card img.sel-img {
            filter: brightness(30%); }

@media (max-width: 750px) {
    .navbar {
        justify-content: center; }
        .navbar .navbar-brand {
            cursor: pointer; }
            .navbar .navbar-brand img {
                width: 140px; }
        .navbar .navbar-brand:active {
            margin-top: 0.3rem; }
        .navbar .navbar-nav {
            display: none; }
    .indexPage-nav {
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex; }
        .indexPage-nav .list-group {
            width: 100%;
            margin-top: 6rem;
            flex-grow: 1;
            max-height: 700px;
            display: flex;
            flex-flow: column; }
            .indexPage-nav .list-group .list-group-item {
                flex-grow: 1;
                background-color: transparent;
                border: 1px solid #646367;
                color: white;
                display: flex;
                align-items: center;
                font-size: 2rem;
                font-weight: bold;
                color: #F7F7ED; }
            .indexPage-nav .list-group .list-group-item:hover {
                background-color: rgba(255, 255, 255, 0.15);
                color: #F05A29; } }
