$navbar_height : 100px;
$color_main_orange : #F05A29;

// this is custom scss file
html, body {

    height: 100%;
    margin: 0;
    padding: 0;
    .main {
        height: 100%;
    }
    .row {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.blue {
    height: 100%;
    border: 1px solid blue;
}
.red {
    height: 100%;
    border: 1px solid red;
}
.green {
    height: 100%;
    border: 1px solid green;
}

.navbar {
    padding: 0;

    display: flex;
    align-items: center;
    // justify-content: space-between;

    height: $navbar_height;
    ul.navbar-nav {
        flex-grow: 1;
    }
    .form {
        flex-grow: 0;
    }
}

.sidebar {
    min-height: 100%;
    height: 100%;
    .list-group-item {
        padding-top: 18px;
        padding-bottom: 18px;
        height: 60px;
    }
    p {
        font-weight: 600;
    }
    a {
        padding-left: 40px;
    }
}

.content {
    .project-box {
        height:700px;
    }
}

.breadcrumb {
    height: 50px;
    a {
        color: #fff;
    }
}

.project-box {
    .panel-heading {
        font-size: 1.8em;
        padding-top: 50px;
    }
    .panel-body {
        position: relative;
        height: 70%;
        .project-list {
            height: 100%;
            position: absolute;
            left: 0px;
            width: 100px;
            text-align: right;
        }
        .project-desc {
            height: 100%;
            position: static;
            margin-left: 100px;
        }
    }
}

.more {
    position: absolute;
    right: 0;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    margin-top: $navbar_height;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #fff;
  }
}
