//out:member_student.min.css
@import 'base';
@import 'parts/breadcrumb';
@import 'parts/sidebar';

.content-row {
    // fixing row under col margin bug
    margin : 0;
    justify-content: center;

}


.member_image_box {
    // row
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    max-width: 1250px;

    padding: 2rem 0 2rem 0;
    .student-box {
        margin-bottom: 2rem;

        .student-img img:hover {
            -webkit-filter: grayscale(100%) contrast(80%);
        }
        .student-img {
            display: flex;
            flex-flow: column;
            align-items: center;
            img {
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                width: 250px;
            }
        }
        .student-text {
            display: flex;
            justify-content: center;
            flex-flow:column;
            align-items: center;
            .name {
                font-size: 1.4rem;
                color: $primary_grey;
                margin-bottom: 0.8rem;
            }
            h6, p {
                margin-bottom: 0.3rem;
                font-size: 0.9rem;
            }
            sub {
                font-size: 0.8rem;
                color: $primary_orange;
            }
        }
    }

    .card {
        margin-bottom: 3rem;
        transition: all 0.7s ease;
        border:none;

        .card-title {
        }

        .card-subtitle {
            font-weight: bold;
            line-height: 1.85;
        }
    }
}
