//out:member_professor.min.css
@import 'base';
@import 'parts/breadcrumb';
@import 'parts/sidebar';
.content-row {
    // fixing row under col margin bug
    margin : 0;
    flex-flow: column;
    align-items: center;
}

.member_image_box {
    .card {
        // width error fix
        border: 0;
        img {
            border-radius: 50%;
            padding-right: 1.25rem;
            padding-left: 1.25rem;
            width: 100%;
        }
    }
    display: flex;
    flex-direction: row-reverse;

    padding: 3rem 2rem;

    .card-subtitle {
        font-weight: bold;
        line-height: 1.85;
    }
}

.member_desc_box {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem;
    margin-top: 2rem;


    .member_desc {
        h3 {
            padding-bottom: 1rem;
        }
        p {
            font-size: 1.1rem;
        }
        .interest-desc p {
            line-height: 2;
        }

    // to center the desc
        // display:flex;
        // flex-direction: column;
        // justify-content: center;

    //padding
        padding: 0 1rem 0 1rem;

        .education-date{
            font-weight: bold;
        }
    }

    hr.style-one {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, $primary_orange, #eee);
        width: 100%;

        margin: 1.5rem 0 1.5rem 0;
    }
}

@media (max-width:991px){
    .member_desc_box {
        margin-top: 0;
        padding-top: 0;
    }
}
