//out:project.min.css
@import 'base';
@import 'parts/breadcrumb';
@import 'parts/sidebar';

.project-box {
    margin: 2rem 3rem 3rem;
    border-top: 1px solid #ccc;

    .card-box {
        padding: 0 0.5rem;

        .card {
            height: 25rem;
            position: relative;
            overflow: hidden;

            span {
                font-size: 1rem;
            }

            .project-img {
                position: absolute;
                // top: -9999px;
                // bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin-left: auto;
                margin-right: auto;
            }
            .btn {
                @include card(1);
                bottom:1.5rem;
                position: absolute;
            }
            .btn:active{
                @include card(0);
                bottom:1.4rem;
            }
        }
    }

    .card-person {
        display: flex;
        flex-flow: column;
        .student-img {
        }
    }

    .panel-heading {
        margin-left: 0;
        margin-right: 0;
        padding: 1rem 0 2.5rem 0.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 991px) {

}
