nav.navbar.navbar-warning.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-index')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='http://www.creative-tim.com')
        .logo-container
          .logo
            img(src='img/logo.png', alt='Visual Media Lab Logo', rel='tooltip', title='<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>', data-placement='bottom', data-html='true')
          .brand
            | Visual Media Lab
    #navigation-index.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='components-documentation.html', target='_blank')
            i.material-icons dashboard
            |  Components
        li
          a(href='http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie', target='_blank')
            i.material-icons unarchive
            |  Upgrade to PRO
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Follow us on Twitter', data-placement='bottom', href='https://twitter.com/CreativeTim', target='_blank')
            i.fa.fa-twitter
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Like us on Facebook', data-placement='bottom', href='https://www.facebook.com/CreativeTim', target='_blank')
            i.fa.fa-facebook-square
        li
          a.btn.btn-white.btn-simple.btn-just-icon(rel='tooltip', title='Follow us on Instagram', data-placement='bottom', href='https://www.instagram.com/CreativeTimOfficial', target='_blank')
            i.fa.fa-instagram
