extends ./layout_main

block css
    link(href="css2/page/about_admission.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") home
    li.breadcrumb-item
        a(href="/") Project


block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            div.row.year
                h2.about-title
                    | Working with Visual Media Lab
                hr
                h5.about-text
                    | Visual Media Lab is looking for ...
            div.member_image_box.col-xs-12
                // card container
                div.partner-box.col-xs-12.col-md-6.col-lg-3
                    div.partner-img
                        img(src="img2/about_admission_01.png" alt="Partner Company Img")
                    div.partner-text.partner-title
                        | <strong>Postdoc Researchers</strong>
                    div.partner-text
                        |  Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.
                // card container
                div.partner-box.col-xs-12.col-md-6.col-lg-3
                    div.partner-img
                        img(src="img2/about_admission_02.png" alt="Partner Company Img")
                    div.partner-text.partner-title
                        | <strong>Postdoc Researchers</strong>
                    div.partner-text
                        |  Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.
                // card container
                div.partner-box.col-xs-12.col-md-6.col-lg-3
                    div.partner-img
                        img(src="img2/about_admission_03.png" alt="Partner Company Img")
                    div.partner-text.partner-title
                        | <strong>Postdoc Researchers</strong>
                    div.partner-text
                        |  Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.
                // card container
                div.partner-box.col-xs-12.col-md-6.col-lg-3
                    div.partner-img
                        img(src="img2/about_admission_03.png" alt="Partner Company Img")
                    div.partner-text.partner-title
                        | <strong>Postdoc Researchers</strong>
                    div.partner-text
                        |  Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.
            div.row.year
                h2.about-title
                    | Contact Us
                    h4.about-text
                        | Mailing Address
                    .about-text
                        | Visual Media Lab, KAIST <br>
                        | 373-1 Guseong-dong, Yuseong-gu Daejeon, 305-701, Republic of Korea <br><br>
                        | <strong>Tel :</strong> +82-42-350-5918 <br>
                        | <strong>Email :</strong> visualmedia_at_kaist.ac.kr <br>
