extends ./layout_main

block css
    link(href="css2/page/archive_download.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") home
    li.breadcrumb-item
        a(href="/") Project


block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            div.row.year
                h2.year-title
                    | 2016
                div.download-box
                    div.download-img
                    div.download-desc
                        h3.download-text
                            | Group motion recognizer - lite
                        .download-text
                            | This software recognizes the gesture of multiple users. Basically, the recognizer classifies the pose of each user through the Support Vector Machine(SVM). Motions are registered in advance as a sequence of poses. If a pose sequence is matched with registered motion, the recognizer returns the motion as a retrieved result. In this version, 4 poses are registered(Rest, Ready, Left zap, Right zap), so that this software is able to recognize simple “Zap” motion of boxing. For further questions, please contact Hyunggoog Seo (hyunggoog.seo_at_kaist.ac.kr).
                    div.download-type
                        h5.download-text
                            a(href="#") Download
                        .download-text
                            p <strong>Binary:</strong> recognizer_module_exe.zip
                            p <strong>Type:</strong> Standalone
                            p <strong>Version:</strong> NA
                            p <strong>Platform:</strong> Microsoft Windows 8, 10, Kinect SDK 2.0 required
                div.download-box
                    div.download-img
                    div.download-desc
                        h3.download-text
                            | Rich360 - Datasets
                        .download-text
                            | Dataset consisting of input/output data and camera parameters used for stitching results in Rich360: Optimized Spherical Representation from Structured Panoramic Camera Arrays
                    div.download-type
                        h5.download-text
                            a(href="#") Project Page
                        .download-text
                            p <strong>Input:</strong> set of input images for each camera (JPG sequence)
                            p <strong>Output:</strong> stitching results from Rich360 (the equirectangular projection with linear blending, non-uniform ray sampling was not applied.) CamParams.txt: 3D calibration data of all cameras.
                div.download-box
                    div.download-img
                    div.download-desc
                        h3.download-text
                            | Group motion recognizer - lite
                        .download-text
                            | This software recognizes the gesture of multiple users. Basically, the recognizer classifies the pose of each user through the Support Vector Machine(SVM). Motions are registered in advance as a sequence of poses. If a pose sequence is matched with registered motion, the recognizer returns the motion as a retrieved result. In this version, 4 poses are registered(Rest, Ready, Left zap, Right zap), so that this software is able to recognize simple “Zap” motion of boxing. For further questions, please contact Hyunggoog Seo (hyunggoog.seo_at_kaist.ac.kr).
                    div.download-type
                        h5.download-text
                            a(href="#") Download
                        .download-text
                            p <strong>Binary:</strong> recognizer_module_exe.zip
                            p <strong>Type:</strong> Standalone
                            p <strong>Version:</strong> NA
                            p <strong>Platform:</strong> Microsoft Windows 8, 10, Kinect SDK 2.0 required
            div.row.year
                h2.year-title
                    | 2015
                div.download-box
                    div.download-img
                    div.download-desc
                        h3.download-text
                            | Group motion recognizer - lite
                        .download-text
                            | This software recognizes the gesture of multiple users. Basically, the recognizer classifies the pose of each user through the Support Vector Machine(SVM). Motions are registered in advance as a sequence of poses. If a pose sequence is matched with registered motion, the recognizer returns the motion as a retrieved result. In this version, 4 poses are registered(Rest, Ready, Left zap, Right zap), so that this software is able to recognize simple “Zap” motion of boxing. For further questions, please contact Hyunggoog Seo (hyunggoog.seo_at_kaist.ac.kr).
                    div.download-type
                        h5.download-text
                            a(href="#") Download
                        .download-text
                            p <strong>Binary:</strong> recognizer_module_exe.zip
                            p <strong>Type:</strong> Standalone
                            p <strong>Version:</strong> NA
                            p <strong>Platform:</strong> Microsoft Windows 8, 10, Kinect SDK 2.0 required
            div.row.year
