extends ./layout_main

block css
    link(href="css2/page/archive_weekly.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") home
    li.breadcrumb-item
        a(href="/") Project


block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            div.row.year
                h2.year-title
                    | 2016
                div.weekly-box
                    div.weekly-img
                    div.weekly-desc
                        h3.weekly-text 360 Video Stabilization
                        strong Presenter: Sanghoon Kim, Master student
                        .weekly-date Date:2017.01.06

                div.weekly-box
                    div.weekly-img
                    div.weekly-desc
                        h3.weekly-text 360 Video Stabilization
                        strong Presenter: Sanghoon Kim, Master student
                        .weekly-date Date:2017.01.06

            div.row.year
                h2.year-title
                    | 2015
                div.weekly-box
                    div.weekly-img
                    div.weekly-desc
                        h3.weekly-text 360 Video Stabilization
                        strong Presenter: Sanghoon Kim, Master student
                        .weekly-date Date:2017.01.06

                div.weekly-box
                    div.weekly-img
                    div.weekly-desc
                        h3.weekly-text 360 Video Stabilization
                        strong Presenter: Sanghoon Kim, Master student
                        .weekly-date Date:2017.01.06

            div.row.year
