doctype html
html
    include includes/head.pug
    link(href="css2/page/index.min.css" rel="stylesheet")
    body.container-fluid
        nav.navbar.navbar-light.navbar-fixed-top
            a.navbar-brand(href='#')
                img(alt="Brand" src="img/logo-h100.svg" width="130")
                //- button.navbar-toggler(type='button' data-toggle="collapse" data-target="#exCollapsingNavbar")
                    div#exCollapsingNavbar.collapse
                        div.bg-inverse.text-muted.p-1
                            h4 Collapsed content
                            span.text-muted Toggleable via the navbar brand.
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | About
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') People
                li.nav-item
                    a.nav-link(href='#') Research
                li.nav-item
                    a.nav-link(href='#') News&Events
                li.nav-item
                    a.nav-link(href='#') Archives
            //- form.form-inline
            //-     button.btn.align-middle.btn-outline-secondary(type='submit') Search

    div.main.row

        div.sidebar
            div.row.list-group
                li.list-group-item.list-group-item-action.projects Projects
                a.list-group-item.list-group-item-action.item_projects(href='#') Ongoing Projects
                a.list-group-item.list-group-item-action.item_projects(href='#') Finished Projects
                li.list-group-item.publications Publications
                a.list-group-item.list-group-item-action.item_publications(href='#') Ongoing Projects
                a.list-group-item.list-group-item-action.item_publications(href='#') Finished Projects


        div.content.col-xs.container-fluid
            ol.row.breadcrumb
                li.breadcrumb-item.active
                    a(href="#") Home
                li.breadcrumb-item.active
                    a(href="#") People
                li.breadcrumb-item
                    a(href="#") Students

            div.row.project-box
                .col-md-4.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h4.card-title Mulit-projection Project
                            p.card-text
                                strong (Full name)
                                |  Development of Realistic Media and Presentation System for large Auditorium
                            p.card-text (Team) Eve
                            p.card-text Development of Realistic Media and Presentation System for large Auditorium
                        a.btn.btn-primary(href='#') More
                div.col-md-5.card-box
                    div.card
                        div.card-header Results
                        //- div.card-block
                        img(src="img/project_img_01-650.jpg")
                div.col-md-3.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h4.card-title Mulit-projection Project
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.btn.btn-primary(href='#') Go somewhere

            //- div.row.project-box
                div.row.col-xs-12.panel-heading
                    div Mulit-projection Project
                div.col-md-5.panel-body.about
                    p Full name :
                    div.project-list
                        p Full name :
                        p Full name :
                        p Full name :
                    div.project-desc
                        p Development of Realistic Media and Presentation System for large Auditorium
                        p Development of Realistic Media and Presentation System for large Auditorium
                        p Development of Realistic Media and Presentation System for large Auditorium
                div.col-md-4.panel-body
                    img.img-fluid.img-thumbnail(src="img/project_img_01-650.jpg")
                div.col-md-3.panel-body
                    | Panel content
                div.row.col-xs-12.panel-footer
                    button.btn.btn-primary.btn-sm(type='button') More


    include includes/tail.pug
