doctype html
html
    include includes/head.pug
    body
        include components/navbar_2.pug
        
        main.main
            h1 Welcome to the visual media lab website
            p
                | test #1
            p
                | test #2
            
        .footer
            .footer-left
                .footer-logo
                    img(src='img/Logo_footer.svg')
                .footer-contact
                    span Contact us
                    br
                    | +82-42-350-5918
                    br
                    | viusalmedia@kaist.ac.kr
                    br
                    | 373-1 Guseong-dong, Yuseong-gu Daejeon, 305-701, Republic of Korea

   
            
        
    include includes/tail.pug