extends ./layout

block css
    link(href="css2/page/index.min.css" rel="stylesheet")


block content
    .col-xs
        .row.header
            .title
                h1 Visual Media Lab.
                h4 Where Creativity Meets Techonology
                p focuses on developing fundamental computer graphics technology and software applications specifically for the creation of movie visual effects and animated films. Since its foundation in 2006, VML has emphasized both R&D and contens production as a core part of lab activity. About 20 Ph.D. and master program students along have published numerous papers at premium graphics conferences and showcased animations at international computer animated festivals. The close relationship with industry has allowed VML to contribute its technology to recently released movies.

        .row.content
            .researchArea.col-xs-12
                .Heading
                    h1 Reseach Area
                    p The main research area includes motion and facial animation of virtual chararcter, immersive display system and human interaction system
                .card-deck-wrapper
                    .card-deck
                        .card
                            img.img-fluid.card-img-top(src='/img/Home_ResearchArea_1.png', alt='Card image cap')
                            .card-block
                                h4.card-title Card title
                                p.card-text
                                    | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                p.card-text
                                    small.text-muted Last updated 3 mins ago
                        .card
                            img.img-fluid.card-img-top(src='/img/Home_ResearchArea_1.png', alt='Card image cap')
                            .card-block
                                h4.card-title Card title
                                p.card-text This card has supporting text below as a natural lead-in to additional content.
                                p.card-text
                                    small.text-muted Last updated 3 mins ago
                        .card
                            img.img-fluid.card-img-top(src='/img/Home_ResearchArea_1.png', alt='Card image cap')
                            .card-block
                                h4.card-title Card title
                                p.card-text
                                    | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                                p.card-text
                                    small.text-muted Last updated 3 mins ago
            .row.news
                .Heading.col-xs-12
                    h1 Recent News and Publication
                    p The main research area includes motion and facial animation of virtual chararcter, immersive display system and human interaction system

                .card-columns
                    .card.card-inverse
                        img.sel-img.card-img.img-fluid(src='/img/Home_ResearchArea_1.png' alt='Card image cap')
                        .card-img-overlay
                            h4.card-title Optimization Based Interactive Motion Synthesis
                            p.card-text Optimization Based Interactive Motion Synthesis
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card.card-block
                        blockquote.card-blockquote
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card
                        img.card-img-top.img-fluid(src='/img/Home_RecentPublication_1.png', alt='Card image cap')
                        .card-block
                            h4.card-title Card title
                            p.card-text This card has supporting text below as a natural lead-in to additional content.
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                    .card.card-block.card-inverse.card-primary.text-xs-center
                        blockquote.card-blockquote
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                            footer
                                small
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card.card-block.text-xs-center
                        h4.card-title Card title
                        p.card-text This card has supporting text below as a natural lead-in to additional content.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img.img-fluid(src='/img/AboutPeople1.png', alt='Card image')
                    .card.card-block.text-xs-right
                        blockquote.card-blockquote
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card.card-block
                        h4.card-title Card title
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                    .card
                        img.card-img-top.img-fluid(src='/img/Home_ResearchArea_1.png' alt='Card image cap')
                        .card-block
                            h4.card-title Card title that wraps to a new line
                            p.card-text
                                | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    .card.card-block
                        blockquote.card-blockquote
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
                    .card
                        img.card-img.img-fluid(src='/img/AboutPeople1.png', alt='Card image')
                    .card.card-block.text-xs-right
                        blockquote.card-blockquote
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            footer
                                small.text-muted
                                    | Someone famous in
                                    cite(title='Source Title') Source Title
//- block footer
//-     .footer.row.container-fluid
//-         .col-xs-12
//-             .row
//-                 .col-xs-6.col-md-4.footer-brand
//-                     .footer-brand-img
//-                         img(alt="footerLogo" src="img/logo_footer.svg")
//-                     ul
//-                         li +82 (0)42 350 5918
//-                         li visualmedia@kaist.ac.kr
//-                         li 373-1 Guseong-dong. Yueseong-Gu Daejeon, 305-701, South Korea
//-                 .hidden-md-down.col-md-4.sitemap
//-                     .row
//-                         ul.col-xs Member
//-                             li
//-                                 a Professor
//-                             li
//-                                 a Students
//-                             li
//-                                 a Former members
//-                         ul.col-xs Member
//-                             li
//-                                 a Professor
//-                             li
//-                                 a Students
//-                             li
//-                                 a Former members
//-                         ul.col-xs Member
//-                             li
//-                                 a Professor
//-                             li
//-                                 a Students
//-                             li
//-                                 a Former members
//-                         ul.col-xs Member
//-                             li
//-                                 a Professor
//-                             li
//-                                 a Students
//-                             li
//-                                 a Former members
//-                 //- .hidden-md-down.col-md-2.sitemap
//-                 //-     ul Member
//-                 //-         li
//-                 //-             a Professor
//-                 //-         li
//-                 //-             a Students
//-                 //-         li
//-                 //-             a Former members
//-                 .col-xs-6.col-md-4.footer-partner
//-                     .footer-partner-img
//-                         img.img-fluid(alt="footerPartner" src="img/partnerLogo4.png")
//-                     .footer-partner-img
//-                         img.img-fluid(alt="footerPartner" src="img/partnerLogo2.png")
//-
//-             //- .row
//-             //-     .col-xs.rights 2016 Visual Media Lab. All rights reserved.
