doctype html
html
    include includes/head.pug
    body
        div.container
            div.main
                div.sidebar Sidebar content
                div.content Article content
        main
            h1 Welcome to the visual media lab website
            p
                | test #1
            p
                | test #2
            .wrapper
                .main
                    include components/carousel.pug

        .footer
            .footer-left
                .footer-contact
                    span Contact us
                    br
                    | +82-42-350-5918
                    br
                    | viusalmedia@kaist.ac.kr
                    br
                    | 373-1 Guseong-dong, Yuseong-gu Daejeon, 305-701, Republic of Korea




    include includes/tail.pug
