doctype html
html
    include includes/head.pug

    block css

    body
        div.breadcrumb-row.row
            ol.breadcrumb.col-xs
                a(href="/")
                    img.logo-white(src="img2/logo-white.svg" width="168px")
                li
                    img.sidebar_btn(src="img/ic_menu_white_36px.svg" fill-opacity="0" width="30px")
                li.search
                    img.search_btn(src="img2/ic_zoom_in_white_36px.svg" fill-opacity="0" width="30px")
                    input.search_bar

                block breadcrumbs

        div.main

            div.sidebar
                div.sidebarInner
                    nav
                        dl
                            dt About
                            div.nav_list
                                dd
                                    a(href="/about/us") About us
                                    a(href="/about/admission") Admission
                        dl
                            //- dt.nav_expanded Member
                            dt Member
                            div.nav_list
                                //- dd.open
                                dd
                                    //- a.nav_selected(href="/member/professor") Professor
                                    a(href="/member/professor") Professor
                                    a(href="/member/student") Student
                        dl
                            dt Research
                            div.nav_list
                                dd
                                    a(href="/project") Project
                                    a.disable Research Area
                                    a(href="/publication") Publication
                                    a(href="/publication/domestic") Publication(Domestic)
                                    a.disable Thesis
                        dl
                            dt News and Events
                            div.nav_list
                                dd
                                    a(href="/news") News
                                    a.disable Media Report
                                    a.disable VML LIfe
                        dl
                            dt Archive
                            div.nav_list
                                dd
                                    a(href="/archive/download") Download
                                    a(href="/archive/weekly") Weekly Seminar
                    div.legal


            block content


    include includes/tail.pug
