doctype html
html
    include includes/head.pug

    block css

    body
        nav.navbar.navbar-light.navbar-fixed-top
            a.navbar-brand(href='#')
                img(alt="Brand" src="img/logo-h100.svg" width="130")
                //- button.navbar-toggler(type='button' data-toggle="collapse" data-target="#exCollapsingNavbar")
                    div#exCollapsingNavbar.collapse
                        div.bg-inverse.text-muted.p-1
                            h4 Collapsed content
                            span.text-muted Toggleable via the navbar brand.
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | About
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') People
                li.nav-item
                    a.nav-link(href='#') Research
                li.nav-item
                    a.nav-link(href='#') News&Events
                li.nav-item
                    a.nav-link(href='#') Archives
            //- form.form-inline
            //-     button.btn.align-middle.btn-outline-secondary(type='submit') Search

        div.main

            block sidebar

            block content

        //- this is the basic footer
        .footer.row.container-fluid
            .col-xs-12
                .row
                    .col-xs-12.col-sm-6.col-lg-4.footer-brand
                        .footer-brand-img
                            img(alt="footerLogo" src="img/logo_footer.svg")
                        ul
                            li +82 (0)42 350 5918
                            li visualmedia@kaist.ac.kr
                            li 373-1 Guseong-dong. Yueseong-Gu Daejeon, 305-701, South Korea
                    .hidden-md-down.col-lg-4.sitemap
                        .row
                            ul.col-xs Introduction
                                li
                                    a(href="#") About us
                                li
                                    a(href="#") Partners
                                li
                                    a(href="#") Admission
                            ul.col-xs Member
                                li
                                    a(href="#") Professor
                                li
                                    a(href="#") Students
                                li
                                    a(href="#") Former members
                            ul.col-xs Research
                                li
                                    a(href="#") Projects
                                li
                                    a(href="#") Research Area
                                li
                                    a(href="#") Publication
                                li
                                    a(href="#") Publication(domestic)
                                li
                                    a(href="#") Thesis
                            ul.col-xs News and Events
                                li
                                    a(href="#") Recent News
                                li
                                    a(href="#") Recent Events
                    .col-xs-12.col-sm-6.col-lg-4.footer-partner
                        .footer-partner-img
                            img.img-fluid(alt="footerPartner" src="img/partnerLogo4.png")
                        .footer-partner-img
                            img.img-fluid(alt="footerPartner" src="img/partnerLogo2.png")

    include includes/tail.pug

    script(src='js2/vml.js', type='text/javascript')
