doctype html
html
    include includes/head.pug

    block css

    body
        div.breadcrumb-row.row
            ol.breadcrumb.col-xs
                a(href="/")
                    img.logo-white(src="img2/logo-white.svg" width="168px")
                li
                    img.sidebar_btn(src="img/ic_menu_white_36px.svg" fill-opacity="0" width="30px")
                li.search
                    img.search_btn(src="img2/ic_zoom_in_white_36px.svg" fill-opacity="0" width="30px")
                    input.search_bar

                block breadcrumbs

        div.main

            div.sidebar
                div.sidebarInner
                    nav
                        dl
                            dt About
                            div.nav_list
                                dd
                                    a(href="#") About us
                                    a(href="#") Admission
                        dl
                            dt.nav_expanded Member
                            div.nav_list
                                dd.open
                                    a.nav_selected(href="/member/professor") Professor
                                    a(href="/member/student") Student
                                    a(href="#") Researcher
                                    a(href="#") Former Members
                        dl
                            dt Research
                            div.nav_list
                                dd
                                    a(href="/project/lists") Projects
                                    a(href="#") Research Area
                                    a(href="/publication") Publications
                                    a(href="#") Publications(Domestic)
                                    a(href="#") Thesis
                        dl
                            dt News and Events
                            div.nav_list
                                dd
                                    a(href="#") News
                                    a(href="#") Media Report
                                    a(href="#") VML LIfe
                        dl
                            dt Archives
                            div.nav_list
                                dd
                                    a(href="#") Downloads
                                    a(href="#") Weekly Seminar
                    div.legal


            block content


    include includes/tail.pug
