doctype html
html
    include includes/head.pug

    block css

    body
        div.breadcrumb-row.row
            ol.breadcrumb.col-xs
                a(href="/")
                    img.logo-white(src="img2/logo-white.svg" width="168px")
                li
                    img.sidebar_btn(src="img/ic_menu_white_36px.svg" fill-opacity="0" width="30px")
                li.search
                    img.search_btn(src="img2/ic_zoom_in_white_36px.svg" fill-opacity="0" width="30px")
                    input.search_bar

                block breadcrumbs

        div.main

            div.sidebar
                div.sidebarInner
                    nav
                        dl
                            dt.nav_expanded Project
                            div(style="overflow: hidden")
                                dd
                                    a.nav_selected(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                        dl
                            dt Publication
                            div(style="overflow: hidden")
                                dd
                                    a(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                        dl
                            dt.nav_expanded Project
                            div(style="overflow: hidden")
                                dd
                                    a.nav_selected(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                        dl
                            dt test
                            div(style="overflow: hidden")
                                dd
                                    a(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                                    a(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                                    a(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                                    a(href="#") Introduction
                                    a(href="#") second
                                    a(href="#") third
                    div.legal


            block content


    include includes/tail.pug
