doctype html
html
    include includes/head.pug

    block css

    body.container-fluid
        nav.navbar.navbar-light.navbar-fixed-top
            a.navbar-brand(href='#')
                img(alt="Brand" src="img/logo-h100.svg" width="130")
                //- button.navbar-toggler(type='button' data-toggle="collapse" data-target="#exCollapsingNavbar")
                    div#exCollapsingNavbar.collapse
                        div.bg-inverse.text-muted.p-1
                            h4 Collapsed content
                            span.text-muted Toggleable via the navbar brand.
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | About
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') People
                li.nav-item
                    a.nav-link(href='#') Research
                li.nav-item
                    a.nav-link(href='#') News&Events
                li.nav-item
                    a.nav-link(href='#') Archives
            //- form.form-inline
            //-     button.btn.align-middle.btn-outline-secondary(type='submit') Search

        div.main.row

            block sidebar

            block content

        //- this is the basic footer
        footer.footer.row.container-fluid
            .col-xs-12
                .row
                    .col-xs.col-md-4.footer-brand
                        .footer-brand-img
                            img(alt="footerLogo" src="img/logo_footer.svg")
                        ul
                            li +82 (0)42 350 5918
                            li visualmedia@kaist.ac.kr
                            li 373-1 Guseong-dong. Yueseong-Gu Daejeon, 305-701, South Korea
                    .hidden-sm-down.col-md-2.sitemap
                        ul Member
                            li
                                a Professor
                            li
                                a Students
                            li
                                a Former members
                        ul Member
                            li
                                a Professor
                            li
                                a Students
                            li
                                a Former members
                    .hidden-sm-down.col-md-2.sitemap
                        ul Member
                            li
                                a Professor
                            li
                                a Students
                            li
                                a Former members
                    .col-xs.col-md-4.footer-partner
                        .footer-partner-img
                            img.img-fluid(alt="footerPartner" src="img/partnerLogo4.png")
                        .footer-partner-img
                            img.img-fluid(alt="footerPartner" src="img/partnerLogo2.png")

                //- .row
                //-     .col-xs.rights 2016 Visual Media Lab. All rights reserved.


    include includes/tail.pug

    script(src='js2/vml.js', type='text/javascript')
