extends ./layout_main

block css
    link(href="css2/page/member_professor.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item
        a(href="/") Member
    li.breadcrumb-item.active
        a(href="/member/professor") Professor

block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            //- Until here, it is the basic structure

            div.row.content-row
                div.col-xs-12.col-lg-6.member_image_box
                    div.card.col-xs-12
                        div.card-block
                            h1.card-title Junyong Noh
                            h4.card-subtitle.text-muted Professor
                        img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                        div.card-block
                            h5.card-subtitle E-MAIL
                            h5.card-text junyongnoh@kaist.ac.kr
                        div.card-block
                            h5.card-subtitle MAILING ADDRESS
                            h5.card-text
                                |Daejeon 305-701 Korea

                div.col-xs-12.col-lg-6.member_desc_box
                    div.col-xs-12.member_desc
                        .col-xs-12
                            h3.position-title Professor
                            h5.position-desc
                            |Visual Media Lab, KAIST <br />
                            |Head of Department, Graduate School of Culture and Technology, KAIST <br />

                            hr.style-one
                            h3.interest-title Research interest
                            h5.interest-desc
                            |Computer Graphics, Computer Vision, Video Projection,<br />
                            |Facial Animation, Character Animation,<br />
                            |Fluid Simulation, Stereoscopic Visualization<br />

                            hr.style-one
                        .col-xs-12
                            h3.education-title Education
                            .row
                                .col-sm-12.col-md-4
                                    h6.education-date 2002
                                .col-sm-12.col-md-8
                                    p.education-desc
                                        |Ph.D. Computer Science<br />
                                        |University of Southern California,<br />
                                        |advisor Prof. Ulrich Neumann<br />
                                        |- Thesis "Facial Animation by Expression Cloning"<br />
                                .col-sm-12.col-md-4
                                    h6.education-date 2002
                                .col-sm-12.col-md-8
                                    p.education-desc
                                        |Ph.D. Computer Science<br />
                                        |University of Southern California,<br />
                                        |advisor Prof. Ulrich Neumann<br />
                                        |- Thesis "Facial Animation by Expression Cloning"<br />
                                .col-sm-12.col-md-4
                                    h6.education-date 2002
                                .col-sm-12.col-md-8
                                    p.education-desc
                                        |Ph.D. Computer Science<br />
                                        |University of Southern California,<br />
                                        |advisor Prof. Ulrich Neumann<br />
                                        |- Thesis "Facial Animation by Expression Cloning"<br />
                            hr.style-one
