extends ./layout_main

block css
    link(href="css2/page/member_student.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") Home
    li.breadcrumb-item
        a(href="/") Member
    li.breadcrumb-item.active
        a(href="/member/students") Students

block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            //- Until here, it is the basic structure
            div.row.content-row
                div.member_image_box.col-xs-12
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
                    // card container
                    div.student-box.col-xs-12.col-md-4.col-lg-3
                        div.student-img
                            img(src="img2/member_student.jpg" alt="Professor profile img")
                        div.student-text
                            h5.name Bumki Kim <sub>Head Student</sub>
                            h6 INTERESTED TOPICS
                            p Computer Graphics / Video Projection
                            h6 E-MAIL
                            p bumkikim@kaist.ac.kr
