extends ./layout_main

block css
    link(href="css2/page/member_student.min.css" rel="stylesheet")

block breadcrumbs
    div.breadcrumb-row.row
        ol.breadcrumb.col-xs
            a(href="/")
                img.logo-white(src="img2/logo-white.svg" width="168px")
            li
                img.sidebar_btn(src="img/ic_menu_white_36px.svg" fill-opacity="0" width="30px")

            li.breadcrumb-item
                a(href="/") Home
            li.breadcrumb-item
                a(href="/") Member
            li.breadcrumb-item.active
                a(href="/member/students") Students

block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            //- Until here, it is the basic structure
            div.row.content-row
                div.member_image_box.col-xs-12
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
