extends ./layout

block css
    link(href="css2/page/member_student.min.css" rel="stylesheet")

block nav
    div.breadcrumb-row.row
        ol.breadcrumb.col-xs
            li
                img.logo-white(src="img2/logo-white.svg" width="168px")
            li
                img.sidebar_btn(src="img/ic_menu_white_36px.svg" fill-opacity="0" width="30px")
                //- button.sidebar_btn(type="button")
                //-     img(src="img/ic_menu_white_36px.svg" fill-opacity="0")

            li.breadcrumb-item.active
                a(href="#") Home
            li.breadcrumb-item.active
                a(href="#") People
            li.breadcrumb-item
                a(href="#") Students

block sidebar
    div.sidebar
        div.sidebar-fixed
            ul.row.list-group
                li.list-group-item.list-group-item-action.projects Projects
                a.list-group-item.list-group-item-action.item_projects(href='#') Ongoing Projects
                a.list-group-item.list-group-item-action.item_projects(href='#') Finished Projects
                li.list-group-item.publications Publications
                a.list-group-item.list-group-item-action.item_publications(href='#') Ongoing Projects
                a.list-group-item.list-group-item-action.item_publications(href='#') Finished Projects

block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            //- Until here, it is the basic structure
            div.row.content-row
                div.member_image_box.col-xs-12
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Bumki Kim
                                h6.card-subtitle Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle INTERESTED TOPICS
                                h6.card-text Computer Graphics / Video Projection
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text bumkikim@kaist.ac.kr
                    // card container
                    div.card-container.col-xs-12.col-md-6.col-lg-4
                        div.card.offset-xs-1.col-xs-10
                            div.card-block
                                h3.card-title Sanghun Park
                                h6.card-subtitle Vice Head Student
                            div.img-block
                                img.img-fluid(src="img/member_professor.jpg" alt="Professor profile img")
                            div.card-block
                                h6.card-subtitle E-MAIL
                                h6.card-text reversi@kaist.ac.kr
                            div.card-block
                                h6.card-subtitle MAILING ADDRESS
                                h6.card-text
                                    |Daejeon 305-701 Korea
