extends ./layout_main

block css
    link(href="css2/page/project.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") home
    li.breadcrumb-item
        a(href="/") Project


block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid

            div.row.project-box
                div.col-sm-5.col-xl-4.card-box
                    div.card
                        div.card-block
                            h2.card-text
                                | Mulit-projection Project
                            h5.card-text
                                | Development of Realistic Media and Presentation System for large Auditorium
                            div.card-desc
                                div.card-desc-title Area
                                div.card-desc-text
                                    p.card-text
                                        | Immersive media display system, Multi-projection contents optimization
                            div.card-desc
                                div.card-desc-title Partners
                                div.card-desc-text
                                    p.card-text
                                        | KAI Co. CJ CGV Co.
                            div.card-desc
                                div.card-desc-title Team
                                div.card-desc-text
                                    p.card-text
                                        | Eve
                            div.card-desc
                                div.card-desc-title Link
                                div.card-desc-text
                                    a(href="#") >> go to link
                            //- a.btn.btn-primary(href='#') More
                div.col-sm-7.col-xl-6.card-box
                    div.card
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")

            div.row.project-box
                div.col-sm-5.col-xl-4.card-box
                    div.card
                        div.card-block
                            h2.card-text
                                | Mulit-projection Project
                            h5.card-text
                                | Development of Realistic Media and Presentation System for large Auditorium
                            div.card-desc
                                div.card-desc-title Area
                                div.card-desc-text
                                    p.card-text
                                        | Immersive media display system, Multi-projection contents optimization
                            div.card-desc
                                div.card-desc-title Partners
                                div.card-desc-text
                                    p.card-text
                                        | KAI Co. CJ CGV Co.
                            div.card-desc
                                div.card-desc-title Team
                                div.card-desc-text
                                    p.card-text
                                        | Eve
                            div.card-desc
                                div.card-desc-title Link
                                div.card-desc-text
                                    a(href="#") >> go to link
                            //- a.btn.btn-primary(href='#') More
                div.col-sm-7.col-xl-6.card-box
                    div.card
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")
            div.row.project-box
                div.col-sm-12.panel-heading
                    div Mulit-projection Project
                div.col-sm-5.col-lg-4.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h5.card-text
                                //- span (Full name) <br />
                                | Development of Realistic Media and Presentation System for large Auditorium
                            p.card-text
                                span (Team) <br />
                                | Eve
                            p.card-text
                                span (Area) <br />
                                | Immersive media display system, Multi-projection contents optimization
                            a.btn.btn-primary(href='#') More
                div.col-sm-7.col-lg-5.card-box
                    div.card
                        div.card-header Results
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")
                div.hidden-md-down.col-lg-3.card-box.card-person
                    div.card
                        div.card-header Funding
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology
                        div.card-header Manager
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology

            //- each d in data
            //-     div.row.project-box
            //-         div.col-sm-12.panel-heading
            //-             div= d.name
            //-         div.col-sm-5.col-lg-4.card-box
            //-             div.card
            //-                 div.card-header About
            //-                 div.card-block
            //-                     h5.card-text
            //-                         //- span (Full name) <br />
            //-                         = d.description
            //-                     p.card-text
            //-                         span (Team) <br />
            //-                         = d.team
            //-                     p.card-text
            //-                         span (Area) <br />
            //-                         = d.area
            //-                     p.card-text
            //-                         span (Partners) <br />
            //-                         = d.partners
            //-                     a.btn.btn-primary(href='#') More
            //-         div.col-sm-7.col-lg-5.card-box
            //-             div.card
            //-                 div.card-header Results
            //-                 //- div.card-block
            //-                 //- img.project-img(src="img/project_img_01-650.jpg")
            //-                 img.project-img(src=d.img)
            //-         div.hidden-md-down.col-lg-3.card-box.card-person
            //-             div.card
            //-                 div.card-header Funding
            //-                 div.card-block
            //-                     p.card-text
            //-                         //- span Institute for Information & communications Techonology
            //-                         span= d.funding
            //-                 div.card-header Manager
            //-                 div.card-block
            //-                     p.card-text
            //-                         //- span Institute for Information & communications Techonology
            //-                         span= d.manager
