extends ./layout

block css
    link(href="css2/page/project.min.css" rel="stylesheet")

block sidebar
    div.sidebar
        ul.row.list-group
            li.list-group-item.list-group-item-action.projects Projects
            a.list-group-item.list-group-item-action.item_projects(href='#') Ongoing Projects
            a.list-group-item.list-group-item-action.item_projects(href='#') Finished Projects
            li.list-group-item.publications Publications
            a.list-group-item.list-group-item-action.item_publications(href='#') Ongoing Projects
            a.list-group-item.list-group-item-action.item_publications(href='#') Finished Projects

block content
    .flex-content
        div.content.col-xs.container-fluid
            //- div.breadcrumb-row.row
            //-     ol.row.breadcrumb
            //-         li
            //-             button.sidebar_hide_btn(type="button") Click
            //-         li.breadcrumb-item.active
            //-             a(href="#") Home
            //-         li.breadcrumb-item.active
            //-             a(href="#") People
            //-         li.breadcrumb-item
            //-             a(href="#") Students

            div.row.project-box
                div.col-sm-12.panel-heading
                    div Mulit-projection Project
                div.col-sm-5.col-lg-4.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h5.card-text
                                //- span (Full name) <br />
                                | Development of Realistic Media and Presentation System for large Auditorium
                            p.card-text
                                span (Team) <br />
                                | Eve
                            p.card-text
                                span (Area) <br />
                                | Immersive media display system, Multi-projection contents optimization
                            a.btn.btn-primary(href='#') More
                div.col-sm-7.col-lg-5.card-box
                    div.card
                        div.card-header Results
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")
                div.hidden-md-down.col-lg-3.card-box.card-person
                    div.card
                        div.card-header Funding
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology
                        div.card-header Manager
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology
            div.row.project-box
                div.col-sm-12.panel-heading
                    div Mulit-projection Project
                div.col-sm-5.col-lg-4.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h5.card-text
                                //- span (Full name) <br />
                                | Development of Realistic Media and Presentation System for large Auditorium
                            p.card-text
                                span (Team) <br />
                                | Eve
                            p.card-text
                                span (Area) <br />
                                | Immersive media display system, Multi-projection contents optimization
                            a.btn.btn-primary(href='#') More
                div.col-sm-7.col-lg-5.card-box
                    div.card
                        div.card-header Results
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")
                div.hidden-md-down.col-lg-3.card-box.card-person
                    div.card
                        div.card-header Funding
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology
                        div.card-header Manager
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology

            div.row.project-box
                div.col-sm-12.panel-heading
                    div Mulit-projection Project
                div.col-sm-5.col-lg-4.card-box
                    div.card
                        div.card-header About
                        div.card-block
                            h5.card-text
                                //- span (Full name) <br />
                                | Development of Realistic Media and Presentation System for large Auditorium
                            p.card-text
                                span (Team) <br />
                                | Eve
                            p.card-text
                                span (Area) <br />
                                | Immersive media display system, Multi-projection contents optimization
                            a.btn.btn-primary(href='#') More
                div.col-sm-7.col-lg-5.card-box
                    div.card
                        div.card-header Results
                        //- div.card-block
                        img.project-img(src="img/project_img_01-650.jpg")
                div.hidden-md-down.col-lg-3.card-box.card-person
                    div.card
                        div.card-header Funding
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology
                        div.card-header Manager
                        div.card-block
                            p.card-text
                                span Institute for Information & communications Techonology

            //- each d in data
            //-     div.row.project-box
            //-         div.col-sm-12.panel-heading
            //-             div= d.name
            //-         div.col-sm-5.col-lg-4.card-box
            //-             div.card
            //-                 div.card-header About
            //-                 div.card-block
            //-                     h5.card-text
            //-                         //- span (Full name) <br />
            //-                         = d.description
            //-                     p.card-text
            //-                         span (Team) <br />
            //-                         = d.team
            //-                     p.card-text
            //-                         span (Area) <br />
            //-                         = d.area
            //-                     p.card-text
            //-                         span (Partners) <br />
            //-                         = d.partners
            //-                     a.btn.btn-primary(href='#') More
            //-         div.col-sm-7.col-lg-5.card-box
            //-             div.card
            //-                 div.card-header Results
            //-                 //- div.card-block
            //-                 //- img.project-img(src="img/project_img_01-650.jpg")
            //-                 img.project-img(src=d.img)
            //-         div.hidden-md-down.col-lg-3.card-box.card-person
            //-             div.card
            //-                 div.card-header Funding
            //-                 div.card-block
            //-                     p.card-text
            //-                         //- span Institute for Information & communications Techonology
            //-                         span= d.funding
            //-                 div.card-header Manager
            //-                 div.card-block
            //-                     p.card-text
            //-                         //- span Institute for Information & communications Techonology
            //-                         span= d.manager
