extends ./layout_main

block css
    link(href="css2/page/publication_list.min.css" rel="stylesheet")

block breadcrumbs
    li.breadcrumb-item
        a(href="/") home
    li.breadcrumb-item
        a(href="/") Project


block content
    .flex-content
        .make_dimmer
        div.content.col-xs.container-fluid
            div.row.year
                h2.year-title
                    | 2016
                div.publication-box
                    div.publication-img
                    div.publication-desc
                        h3.publication-desc-title.publication-text
                            | SketchiMo: Sketch-based Motion Editing for Articulated Characters
                        h5.publication-desc-subtitle.publication-text
                            | Byungkuk, Roger i Ribera, J.P. Lewis, Yeongho Seol, Seokpyo Hong, Haegwang Eom, Sunjin Jung, and Junyoung Noh
                        .publication-text
                            | Conference: ACM SIGGRAPH, 2016 <br>
                            | Journal: ACM Transaction on Graphics, Volume 35, Issue 4 p.146:1-146:12, July 2016
                        .publication-link.publication-text
                            a(href="#") Project Page / Paper
                div.publication-box
                    div.publication-img
                    div.publication-desc
                        h3.publication-desc-title.publication-text
                            | SketchiMo: Sketch-based Motion Editing for Articulated Characters
                        h5.publication-desc-subtitle.publication-text
                            | Byungkuk, Roger i Ribera, J.P. Lewis, Yeongho Seol, Seokpyo Hong, Haegwang Eom, Sunjin Jung, and Junyoung Noh
                        .publication-text
                            | Conference: ACM SIGGRAPH, 2016 <br>
                            | Journal: ACM Transaction on Graphics, Volume 35, Issue 4 p.146:1-146:12, July 2016
                        .publication-link.publication-text
                            a(href="#") Project Page / Paper
                div.publication-box
                    div.publication-img
                    div.publication-desc
                        h3.publication-desc-title.publication-text
                            | SketchiMo: Sketch-based Motion Editing for Articulated Characters
                        h5.publication-desc-subtitle.publication-text
                            | Byungkuk, Roger i Ribera, J.P. Lewis, Yeongho Seol, Seokpyo Hong, Haegwang Eom, Sunjin Jung, and Junyoung Noh
                        .publication-text
                            | Conference: ACM SIGGRAPH, 2016 <br>
                            | Journal: ACM Transaction on Graphics, Volume 35, Issue 4 p.146:1-146:12, July 2016
                        .publication-link.publication-text
                            a(href="#") Project Page / Paper
            div.row.year
                h2.year-title
                    | 2015
                div.publication-box
                    div.publication-img
                    div.publication-desc
                        h3.publication-desc-title.publication-text
                            | SketchiMo: Sketch-based Motion Editing for Articulated Characters
                        h5.publication-desc-subtitle.publication-text
                            | Byungkuk, Roger i Ribera, J.P. Lewis, Yeongho Seol, Seokpyo Hong, Haegwang Eom, Sunjin Jung, and Junyoung Noh
                        .publication-text
                            | Conference: ACM SIGGRAPH, 2016 <br>
                            | Journal: ACM Transaction on Graphics, Volume 35, Issue 4 p.146:1-146:12, July 2016
                        .publication-link.publication-text
                            a(href="#") Project Page / Paper
            div.row.year
