@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/*    Reset CSS  */

* {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
a {
    outline: 0;
    text-decoration: none;
    color: #353535;
}
img {
    border: 0;
    transition: width 0.5s;
}

/* Basics */
* {
    -webkit-box-sizing: border-box:
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    From here    */
html {
    width:100%;
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
}

p::selection {
    color:#111;
    background:#EA5A29;
}

body {
    padding-top: 65px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh; /* for the sticky footer  */
    
}

.main {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    flex: 1; /* for the sticky footer */
}

.footer {
    height: 300px;
    width: 100%;
    background-color: #222225;
    
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    padding-left: 10vw;
    
    font-size: 1.2rem;
    
    color: white;
    
    -webkit-box-shadow: 0px -2px 4px 4px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px -2px 4px 4px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px -2px 4px 4px rgba(0, 0, 0, 0.2);
}

.footer-left {
    
}

.footer-contact {
    flex-grow: 1;
}
.footer-logo {
    width: 18rem; 
}
.footer-logo img {
    width: 100%;
}