
.breadcrumb-row {
    position: fixed;
    right:0;
    left:0;
    z-index:1030;

}

.breadcrumb-row {
    // flexbox
    display: flex;
    align-items: center;

    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2rem;
    height: $navbar_height;

    background-color: $primary_orange;

    //font-relate
    font-size: 1.2rem;

    // material-shadow
    @include card(1);

    .breadcrumb {
        height: 3.6rem;
        display: flex;
        align-items: center;
        margin: 0;
        .search {
            position: absolute;
            right: 3rem;
            .search_btn {
                cursor: pointer;
            }
            input {
                width: 55px;
                transition: width 0.25s ease-in-out;

                border: none;
                background: transparent;
                margin-left: 0.5rem;
                border-bottom: 1.8px white solid;
                color: white;
                font-weight:300;
                font-size: 0.95rem;
            }
            input:focus {
                outline: none;
                width: 250px;
            }
        }
        a {
            color: #fff;
        }
    }
    //
    // .form {
    //     flex-grow: 0;
    // }
    // .nav-link {
    //     padding: 0 1.5rem;
    // }
}

.sidebar_btn {
    color: rgba(255,255,255,1);
    background-color: $primary-orange;
    margin-right: 2rem;

    cursor: pointer;
}

.logo-white {
    margin-right: 3rem;
}
@media (max-width: 1199px) {
    .logo-white {
        display: none;
    }
}

@media (max-width: 575px) {
    .search {
        display: none;
    }
    .breadcrumb {
        flex-flow:row-reverse;
        // justify-content: flex-end;
        justify-content: center;
    }
    .sidebar_btn {
        position: fixed;
        top:2rem;
        left:2rem;
    }
    .logo-white {
        display: unset;
        width: 120px;
    }
    .breadcrumb-item {
        display: none;
    }

}
