
.breadcrumb-row {
    position: fixed;
    right:0;
    left:0;
    z-index:1030;

}

.breadcrumb-row {
    // flexbox
    display: flex;
    align-items: center;

    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2rem;
    height: $navbar_height;

    background-color: $primary_orange;

    //font-relate
    font-size: 1.2rem;

    // material-shadow
    @include card(1);

    .breadcrumb {
        height: 3.6rem;
        display: flex;
        align-items: center;
        margin: 0;
        a {
            color: #fff;
        }
    }
    //
    // .form {
    //     flex-grow: 0;
    // }
    // .nav-link {
    //     padding: 0 1.5rem;
    // }
}

.sidebar_btn {
    color: rgba(255,255,255,1);
    background-color: $primary-orange;
    margin-right: 2rem;

    cursor: pointer;
}

.logo-white {
    margin-right: 3rem;
}
@media (max-width: 1199px) {
    .logo-white {
        display: none;
    }
}
