.indexPage-nav {

        display: none;

}

.search-nav {
    list-style: none;
    .search {
        position: absolute;
        right: 3rem;
        .search_btn {
            cursor: pointer;
        }
        input {
            width: 55px;
            transition: width 0.25s ease-in-out;

            border: none;
            background: transparent;
            margin-left: 0.5rem;
            border-bottom: 1.8px $primary_orange solid;
            color: $primary_orange;
            font-weight:300;
            font-size: 0.95rem;
        }
        input:focus {
            outline: none;
            width: 150px;
        }
    }
}
.navbar {

    // flexbox
    display: flex;
    align-items: center;

    // material-like shadow
    @include card(1);

    padding-bottom: 0;
    padding-top: 0;
    height: $navbar_height;

    background-color: white;
    border-bottom: 1px solid #ccc;

    img {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    ul.navbar-nav {
        flex-grow: 1;
    }

    .form {
        flex-grow: 0;
    }

    .nav-link {
        padding: 0 1rem;
    }
}
// From under 750px,
// Navbar leaves only the logo and the menu btn
@media (max-width: 900px) {
    .navbar {
        .menu_btn {
            display: unset;
            position: absolute;
            top:2rem;
            left: 2rem;
            margin: 0;
        }
        .menu_btn:active {
            top: 2rem;
        }

        // justify-content: center;
        .navbar-brand {
            display: none;

            // cursor: pointer;
            // img {
            //     width: 120px;
            // }
        }
        // when clicked, it slightly moves like button
        .navbar-brand:active {
            margin-top:0.3rem;
        }
        .navbar-nav {
            display: none;
        }
    }

}

@media (max-width: 544px) {
    .navbar-nav {
        display: none;
    }
}
