
// import the variables :)
@import 'variables';
.flex-content {
    margin-left: $sidebar-width;
}
.sidebar {
    background-color: #fff;
    transition: all 0.5s ease;
    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    left: 0;
    z-index: 1001;
    display: flex;
    overflow-y: auto;

    border-right: 1px solid $primary_light_grey;
    .sidebarInner {
        // flex: 1;
        // height: 3000px;
        // display: flex;
        min-height: 100%;
        position: relative;

        padding-bottom: 96px;
        nav {
            font-size: 13px;
            padding: 12px 0 10px;
            dt {
                font-weight: 700;
                padding: 11px 0 11px 22px;
                cursor: pointer;
            }
            dd a {
                display: block;

                font-weight: 400;
                letter-spacing: .1px;
                padding: 8px 10px 8px 46px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.sidebar_btn {
    display: none;
}

//// Sidebar under 1200px
@media (max-width: 1199px) {
    .flex-content {
        margin-left: 0;
    }
    .sidebar {
        left:-$sidebar-width;
    }
    .open {
        left: 0rem;
    }
    .sidebar_btn {
        display: unset;
    }

//// Dimmer
    // make background dimmer when sidebar opened
    .make_dimmer {
        transition: all 0.3s ease;
        display:none;
    }

    .dimmer {
        display:block;
        background:#000;
        opacity:0.5;
        position:fixed; /*enter code here important to use fixed, not absolute */
        // lower than 1001(sidebar)
        z-index: 1000;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}
