$navbar_height: 6rem;

$primary_orange: #F05A29;
$primary_yellow: #FAAF40;
$primary_dark_grey: #262626;
$primary_grey: #646367;
$primary_light_grey: #E9E5DE;
$primary_white: #F7F7ED;


$sidebar-width: 13rem;
